<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scheduling Appointments</title>
</head>

<body>
    <label>
        "Date: "
        <input type="Date" name="Date" size="40" maxlength="100">
    </label>
    </br>
    "Time: "
    <input type="Time" name="Time" size="40" maxlength="100">
    </label>
    </br>
    "Physicians Name: "
    <input type="text" name="Physicians Name" size="40" maxlength="100">
    </label>
    </br>
    "Location: "
    <input type="text" name="Location" size="40" maxlength="100">
    </label>
    </br>
    "Reason: "
    <input type="text" name="Reason" size="40" maxlength="100">
    </label>
    </br>


    <a href="submit_form">Submit Form</a>
    <br>

</body>

</html>