<form action="http://www.example.org/subscribe.php">
    <p>Add a new patient</p>
    <input type="text" name="SSN" />
    <input type="image" src="images/addanewpatient.jpg" width="200" height="40" />
</form>

<div class="active-purple-3 active-purple-4 mb-4">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<h3>Patient Name</h3>

<form method="get" action="">
    <p><label>Your birthday:
            <input type="text" name="from_name">
        </label>
    </p>
    <p><label>Your SSN:
            <input type="text" name="from_email">
        </label>
    </p>
    <p><input type="submit" value="Submit form">
    </p>
</form>