<div class="container text-center">
  <h3 style='font-family: Roboto; margin-top: 100px'>
    The page for which you are looking does not exist.
  </h3>
  <a href='/' class='btn btn-primary mt-5'>Head to Login Screen</a>
</div>
