<div class='row'>
    <div class='col'>
        <div class='card'>

            <form id='addAppointmentForm' method="POST" action='/api/addappointment'>

                {{!-- Header --}}
                <div class='card-header'>
                    <strong>
                        Create an Appointment
                    </strong>
                </div>

                {{!-- Body --}}
                {{#each patient}}
                <div class='card-body'>
                    <div class='row'>
                        <div class="form-group col-md-6 col-sm-12" style="display: none">
                            <label for="patientId">Patient ID</label>
                            <input readonly type="text" class="form-control" name="patientId" value="{{this.id}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="firstName">First Name</label>
                            <input readonly type="text" class="form-control" name="firstName" value="{{this.firstName}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="lastName">Last Name</label>
                            <input readonly type="text" class="form-control" name="lastName" value="{{this.lastName}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="appointmentDate">Date</label>
                            <input type="date" class="form-control" id="appointmentDate" name="appointmentDate">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="appointmentTime">Time</label>
                            <input type="time" class="form-control" id="appointmentTime" name="appointmentTime">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="physicianName">Desired Physician</label>
                            <select class="form-control" id="physicianName" name="physicianName">
                                <option value="" disabled selected>Select physician</option>
                                <option value="Rossi, Giulia">Rossi, Giulia</option>
                                <option value="Schneider, Hans">Schneider, Hans</option>
                                <option value="Singh, Rajesh">Singh, Rajesh</option>
                                <option value="Wei, Zhang">Wei, Zhang</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="notificationEmail">Notification Email</label>
                            <input type="email" class="form-control" name="notificationEmail">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="comments">Comments</label>
                            <textarea type="text" class="form-control" id="comments" name="comments"></textarea>
                        </div>
                    </div>
                </div>
                {{/each}}

                {{!-- Footer --}}
                <div class='card-footer text-right'>
                    <div id='cancelButton' class="btn btn-secondary">Cancel and Return</div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
        </div>
        </form>

    </div>
</div>

{{!-- Scripts --}}
<script src="/js/addAppointment.js"></script>