<form method="POST" action='/api/addpatient'>
    <div class='row'>
        <div class="form-group col-md-6 col-sm-12">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="birthDate">Birthday</label>
            <input type="date" class="form-control" name="birthDate">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="gender">Gender</label>
            <select name="gender" class="form-control">
                <option value="Male"> Male</option>
                <option value="Female"> Female</option>
                <option value="Transgender"> Transgender</option>
            </select>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="ssn">SSN</label>
            <input type="text" class="form-control" name="ssn">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="photoURL">Photo URL</label>
            <input type="text" class="form-control" name="photoURL">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="primaryPhysicianName">Primary Physician</label>
            <input type="text" class="form-control" name="primaryPhysicianName">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="emergencyContactName">Emergency Contact Name</label>
            <input type="text" class="form-control" name="emergencyContactName">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="emergencyContactPhone">Emergency Contact Phone</label>
            <input type="text" class="form-control" name="emergencyContactPhone">
        </div>
    </div>
    <div class='row alert alert-dark'>
        <div class='col'>
            <div id='cancelButton' class="btn btn-secondary" style="width: 100%">Cancel and Return</div>
        </div>
        <div class='col'>
            <button type="submit" class="btn btn-primary" style="width: 100%">Save Changes</button>
        </div>
    </div>

</form>

{{!-- Scripts --}}
<script src="/js/addPatient.js"></script>