<h2>Add a Patient</h2>

<form class="create-form">

    <div class="form-group">
        <label for="first">First Name: </label>
        <input type="text" id="first" name="firstName">
    </div>
    <div class="form-group">
        <label for="last">Last Name: </label>
        <input type="text" id="last" name="lastName">
    </div>
    <div class="form-group">
        <label for="ssn">Social Security Number: </label>
        <input type="text" id="ssn" name="socialSecurity">
    </div>
    <div class="form-group">
        <label for="phone">Contact Info: </label>
        <input type="text" id="phone" name="phoneNumber">
    </div>
    <div class="form-group">
        <label for="desc">Patient Description: </label>
        <textarea id="desc" name="description" rows="8" cols="40"></textarea>
    </div>

    <form action="/" method="POST">
        <textarea type="text" name="addPatient"></textarea>

        <button type="submit">Add Patient</button>
    </form>