<ul>
  {{#each patient}}
  <li>
    <p>SSN: {{this.ssn}}</p>
    <p>Patient: {{this.patient}}</p>
  </li>
  {{/each}}
</ul>

{{!-- <form action="/" method="POST">
  <textarea type="text" name="task"></textarea>

  <button type="submit">Submit</button>
</form> --}}